*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
    
}



#testo-logo{
    font-size: 40px;
    font-weight: 600;
    
}

.container{
    background-color: white;
    width: 70%;
    margin: 40px auto;
    padding: 15px 50px;
    
}

#button{
    padding-top: 10px;
}
#button-task{
    color:lightgrey;
    width:60px;
    height:35px;
    background-color: rgb(7, 87, 235);
    border-radius:5px;
    text-align: center;
    vertical-align: middle;

}

#button-section{
    color:lightgrey;
    width:60px;
    height:35px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    
}
 .section-task{
    padding-top: 20px;
 }

.task::before{
    content:"\25BC";
    font-size:16px;
    margin-right:5px;
}
.testo{
    margin: 10px;
    margin-top:5px;
}
.spuntato::before{
content:"\2713";
font-size:15px;
color:green;
border:2px solid green;
border-radius:50%;
padding:2px 2px;
margin:5px 10px;

}

.nonspuntato:before{
    content:"\2715";
    font-size:15px;
    color:red;
    border:2px solid red;
    border-radius:50%;
    padding:2px 2px;
    margin:5px 10px;
}

.etichetta{
    margin-left:10px;
    font-size:10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
   
}
.etichetta.blue{
    background-color: rgb(0, 153, 255);
}
.etichetta.purple{
    background-color: blueviolet;
}
.etichetta.green{
    background-color: rgb(5, 185, 65);
}
.etichetta.orange{
    background-color: orangered;
}
.etichetta.pink{
    background-color: palevioletred;
}
.etichetta.lime{
    background-color: lime;
}